.scoreboardContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  background-color: var(--background-color-alt);
  border-radius: 10px;
}

.scoreboardContainer h2 {
  font-size: var(--font-medium);
  margin-bottom: 1rem;
}

.hamsterScore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background-color);
  padding: 1rem;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

.hamsterScore:first-of-type {
  background-color: gold;
}

.hamsterScore p {
  color: var(--text-color);
}

.hamsterTop {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hamsterName {
  text-transform: capitalize;
}

.hamsterTop .points {
  color: var(--accent-purple-dark);
}

.loadButton {
  width: 100%;
  padding: 0.5rem 1rem;
  border: solid 1px var(--accent-purple-dark);
  border-radius: 10px;
  background-color: var(--background-color);
  color: var(--accent-purple-dark);
  font-weight: bold;
  transition: 0.2s;
  margin: 2rem auto;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadButton:hover {
  background-color: var(--accent-purple-dark);
  border-color: var(--accent-purple-dark);
  color: var(--background-color);
}

/** TABLET **/

@media only screen and (min-width: 600px) {
  .loadButton {
    max-width: 300px;
  }
}

/** LARGER SCREENS **/

@media only screen and (min-width: 1200px) {
}
