.scoreboardContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  background-color: var(--background-color-alt);
  border-radius: 4px;
}

.hamsterScore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--accent-purple);
  padding: 1rem;
  border-radius: 4px;
  font-weight: bold;
}

.hamsterScore p,
.hamsterScore svg {
  color: var(--background-color);
}

.hamsterScore:nth-child(1) svg {
  color: gold;
}

.hamsterScore:nth-child(2) svg {
  color: silver;
}

.hamsterScore:nth-child(3) svg {
  color: #bb8f4c;
}

.hamsterTop {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hamsterName {
  text-transform: capitalize;
}

.points {
  color: var(--background-color);
}

.loadButton {
  background-color: var(--accent-purple);
  color: var(--background-color);
  border: none;
  border-radius: 4px;
  margin: 1rem auto;
  height: 2.5rem;
  width: 100%;
  max-width: 350px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadButton:hover {
  background-color: var(--accent-purple-dark);
}

/** TABLET **/

@media only screen and (min-width: 600px) {
}

/** LARGER SCREENS **/

@media only screen and (min-width: 1200px) {
}
