/** MOBILE **/
.statisticsContainer {
}

.classes {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.classes div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dropdown {
  padding: 0.25rem 0.5rem;
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: var(--font-medium);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

.dropdown:hover {
  cursor: pointer;
}

.chosenClassContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
}

.chosenClassContainer * {
  color: var(--text-color);
}

.classOverview {
  background-color: var(--background-color);
  border-radius: 10px;
  padding-block: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  position: relative;
}

.overviewSubject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overviewTop {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 3rem;
  background-color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overviewTop h2 {
  color: var(--background-color);
}

.overviewBottomFlex {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overviewBottomFlex2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.marginTop {
  margin-top: 3rem;
}

:nth-child(1 of .overviewBottomFlex2) {
  margin-bottom: 1rem;
}

.overviewBottomGrid {
  display: grid;
  grid-template-columns: 1fr 1.75fr;
}

.overviewBottomGrid2 {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 0.5rem;
}

.overviewFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overviewFlex2 {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.bold {
  font-weight: bold;
}

.bigStat {
  font-size: 2rem;
}

.biggerStat {
  font-size: 2rem;
}

/** TABLET **/

@media only screen and (min-width: 1000px) {
  .chosenClassContainer {
    grid-template-columns: 1fr 1fr;
  }

  .overviewClass {
    grid-column: 2;
  }

  .overviewStudents {
    grid-column: 2;
  }

  .overviewSubject {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .overviewBottomGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .biggerStat {
    font-size: 2.5rem;
  }

  :nth-child(1 of .overviewBottomFlex2) {
    margin-bottom: 2rem;
  }
}

/** LARGER SCREENS **/

@media only screen and (min-width: 1200px) {
  .chosenClassContainer {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}
