/** MOBILE **/
.statisticsContainer {
}

.classes {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.classes div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.selectedClassContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.selectedClassContainer * {
  color: var(--text-color);
}

.classOverview {
  background-color: var(--background-color);
  border-radius: 10px;
  padding-block: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  position: relative;
}

.overviewTop {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

.overviewTop h2 {
  color: var(--accent-purple-dark);
  font-size: var(--font-small);
}

.overviewSubject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, var(--accent-green2), var(--accent-green));
}

.overviewSubject h2,
.overviewSubject *,
.overviewPeriod h2,
.overviewPeriod * {
  color: var(--background-color);
}

.overviewPeriod {
  background-image: linear-gradient(to right, var(--accent-gold3), var(--accent-gold2));
}

.dropdown {
  padding: 0.25rem 0.5rem;
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: var(--font-small);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

.dropdown2 {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  font-weight: bold;
  border: solid 1px var(--background-color);
  border-radius: 10px;
  font-size: var(--font-smaller);
}

.dropdown2 option {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.dropdown:hover,
.dropdown2:hover {
  cursor: pointer;
}

.subjectHeader {
  font-weight: bold;
  font-size: var(--font-small);
}

.overviewBottomFlex {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overviewBottomFlex2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.marginTop {
  margin-top: 2.5rem;
}

:nth-child(1 of .overviewBottomFlex2) {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px var(--background-color);
}

.overviewBottomGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.overviewBottomGrid2 {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 0.5rem;
}

.alignBottom {
  align-self: end;
}

.overviewFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overviewFlex2 {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.overviewTimespan {
  font-weight: bold;
  font-size: var(--font-smaller);
}

.bold {
  font-weight: bold;
}

.bigStat {
  font-size: 2rem;
}

/** TABLET **/

@media only screen and (min-width: 1000px) {
  .selectedClassContainer {
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  .overviewClass {
    grid-column: 2;
  }

  .overviewStudents {
    grid-column: 2;
  }

  .overviewSubject {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .dropdown2 {
    font-size: var(--font-small);
  }
}

/** LARGER SCREENS **/

@media only screen and (min-width: 1200px) {
  .selectedClassContainer {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}
