/** MOBILE **/
.classesContainer {
}

.dropdownsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.classesGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-bottom: 1rem;
}

.classContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  height: 150px;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

.classContainer:hover {
  background-color: var(--accent-purple-dark);
  cursor: pointer;
}

.classContainer p {
  color: var(--text-color);
  font-weight: bold;
}

.classContainer:hover p {
  color: var(--background-color);
}

.class {
  font-size: 2rem;
  text-transform: lowercase;
}

.school {
  text-transform: capitalize;
}

.students {
  text-transform: lowercase;
}

.openFormButton {
  width: 100%;
  padding: 0.5rem 1rem;
  border: solid 1px var(--accent-purple-dark);
  border-radius: 10px;
  background-color: var(--background-color);
  color: var(--accent-purple-dark);
  font-weight: bold;
  transition: 0.2s;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addClassButton {
  width: 75%;
  background-color: transparent;
  color: var(--background-color);
  border: solid 1px var(--background-color);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  transition: 0.2s;
}

.validButton {
  background-color: var(--background-color);
  color: var(--accent-purple-dark);
  border-color: var(--background-color);
}

.addStudentsButton {
  width: 100%;
  padding: 0.5rem 1rem;
  border: solid 1px var(--accent-purple-dark);
  border-radius: 10px;
  background-color: var(--background-color);
  color: var(--accent-purple-dark);
  font-weight: bold;
  transition: 0.2s;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openFormButton:hover,
.addStudentsButton:hover {
  background-color: var(--accent-purple-dark);
  border-color: var(--accent-purple-dark);
  color: var(--background-color);
}

.dropdown {
  padding: 0.25rem 0.5rem;
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: var(--font-small);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  width: fit-content;
}

.dropdown:hover {
  cursor: pointer;
}

.addClass {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: fixed;
  z-index: 10;
  background-color: var(--accent-purple-dark);
  border-radius: 10px;
  padding: 2rem 1rem;
  inset: 0;
  margin: auto 1rem;
  height: fit-content;
}

.addClass h3,
.addClass h3 * {
  color: var(--background-color);
  font-weight: bold;
  font-size: var(--font-medium);
}

.addClass h3 span {
  text-transform: capitalize;
}

.addClass p {
  color: var(--background-color);
}

.addClassFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.addClassFlex label {
  color: var(--background-color);
}

.addClassFlex select,
.addClassFlex input {
  width: fit-content;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  padding-inline: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.addClassFlex div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.addClassFlex div p:first-of-type {
  font-weight: bold;
}

#closeForm {
  background-color: transparent;
  width: fit-content;
  color: var(--background-color);
  opacity: 0.5;
  transition: 0.2s;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  padding: 1rem;
}

#closeForm:hover {
  opacity: 1;
}

.singleClassDetails h2 {
  font-size: 2rem;
}

.studentsListSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.studentsList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.singleStudent {
  width: 100%;
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: 10px;
  color: var(--text-color);
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  transition: 0.2s;
}

.singleStudent:hover {
  cursor: pointer;
  background-color: var(--accent-purple-dark);
  color: var(--background-color);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block: 1rem;
}

.classOverview {
  background-color: var(--background-color);
  border-radius: 10px;
  padding-block: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  position: relative;
}

.overviewSubject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overviewTop {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 2.5rem;
  background-color: var(--accent-purple-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overviewTop h2 {
  color: var(--background-color);
}

.overviewBottomFlex {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overviewBottomFlex2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.marginTop {
  margin-top: 2.5rem;
}

:nth-child(1 of .overviewBottomFlex2) {
  margin-bottom: 2rem;
}

.clickedClassContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.clickedClassContainer * {
  color: var(--text-color);
}

.overviewBottomGrid {
  display: grid;
  grid-template-columns: 1fr 1.75fr;
}

.overviewBottomGrid2 {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 0.5rem;
}

.overviewFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overviewFlex2 {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.overviewTimespan {
  font-weight: bold;
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.bigStat {
  font-size: 2rem;
}
/** TABLET **/

@media only screen and (min-width: 600px) {
  .openFormButton,
  .addStudentsButton {
    max-width: 300px;
  }

  .addClass {
    margin: auto 35%;
  }

  .classButtons {
    flex-direction: row;
  }

  .dropdownsContainer {
    flex-direction: row;
    align-items: center;
  }

  .buttonContainer {
    justify-content: flex-start;
  }

  .clickedClassContainer {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  .overviewClass {
    grid-column: 2;
  }

  .overviewStudents {
    grid-column: 2;
  }

  .overviewSubject {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .overviewBottomGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  :nth-child(1 of .overviewBottomFlex2) {
    margin-bottom: 2rem;
  }
}

/** LARGER SCREENS **/

@media only screen and (min-width: 1200px) {
  .clickedClassContainer {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}
