/** MOBILE **/
.statisticsContainer {
}

.classes {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.classes div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.selectedClassContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.selectedClassContainer * {
  color: var(--text-color);
}

.classOverview {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  position: relative;
}

.overviewHighlight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-image: linear-gradient(to right, var(--accent-purple), var(--accent-purple-dark)); */
  background-color: var(--accent-purple-dark);
  grid-column: 1 / 3;
}

.overviewHighlight * {
  color: var(--background-color);
}

.overviewHighlight p {
  font-size: var(--font-small);
}

.overviewHighlightHeading {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.overviewHighlightGrid {
  display: grid;
  grid-template-columns: 1.5fr 1.25fr 0.25fr;
  align-items: center;
  padding-top: 2rem;
}

.overviewHighlightNumber {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: transparent;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

.progress {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.progress:before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: var(--accent-purple-dark);
  border-radius: 50%;
}

.valueContainer {
  position: relative;
  color: var(--background-color);
}

.overviewSubject {
  background-color: var(--background-color);
}

.overviewSubjectGrid {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
}

.dropdown {
  padding: 0.25rem 0.5rem;
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: var(--font-small);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

.dropdown:hover {
  cursor: pointer;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/** TABLET **/

@media only screen and (min-width: 1000px) {
  .selectedClassContainer {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  .overviewHighlight {
    grid-column: 1;
    grid-row: 1 / 3;
  }
}

/** LARGER SCREENS **/

@media only screen and (min-width: 1200px) {
  .overviewHighlight {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .overviewHighlightGrid {
    display: grid;
    grid-template-columns: 1.25fr 1fr 0.25fr;
  }

  .selectedClassContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}
