/** MOBILE **/

.classesContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.classContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-purple);
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
  height: 150px;
  transition: 0.2s;
}

.classContainer:hover {
  background-color: var(--accent-purple-dark);
  cursor: pointer;
}

.classContainer p {
  color: var(--background-color);
  font-weight: bold;
}

.class {
  font-size: 2rem;
  text-transform: lowercase;
}

.school {
  text-transform: capitalize;
}

.students {
  text-transform: lowercase;
}

.addClassButton {
  width: 100%;
  padding: 0.5rem 1rem;
  border: solid 1px var(--accent-purple);
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--accent-purple);
  font-weight: bold;
  transition: 0.2s;
  margin-bottom: 1rem;
}

.addClassButton:hover {
  background-color: var(--accent-purple-dark);
  border-color: var(--accent-purple-dark);
  color: var(--background-color);
}

.classesNumber {
  font-weight: bold;
  margin-bottom: 1rem;
}

.addClass {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: fixed;
  z-index: 10;
  background-color: var(--accent-purple-dark);
  border-radius: 4px;
  padding: 2rem 1rem;
  inset: 0;
  margin: auto 1rem;
  height: fit-content;
}

.addClass label {
  color: var(--background-color);
}

.addClass input {
  width: 100%;
  height: 2.5rem;
  border-radius: 4px;
  border: none;
  padding-inline: 1rem;
}

.addClass button {
  width: 75%;
  background-color: var(--background-color);
  color: var(--accent-purple);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.addClass div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}

#closeForm {
  background-color: transparent;
  width: fit-content;
  color: var(--background-color);
  position: absolute;
  top: 0;
  right: 0;
}

#closeForm:hover {
  color: var(--accent-purple);
}

.blurBackground {
  filter: blur(2px);
}

/** TABLET **/

@media only screen and (min-width: 600px) {
  .addClassButton {
    max-width: 300px;
  }

  .addClass {
    margin: auto 35%;
  }
}

/** LARGER SCREENS **/

@media only screen and (min-width: 1200px) {
}
