/** MOBILE **/

.header {
  position: fixed;
  top: 0;
  height: 62px;
  width: 100%;
  z-index: 100;
  background-color: var(--background-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  padding: 1rem;
}

.headerNav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
  color: var(--text-color);
}

.navLink:hover {
  color: var(--accent-purple-dark);
}

.accountIcon {
  background-color: transparent;
  border: none;
}
