/** MOBILE **/

.loginFormContainer,
.createFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.loginForm,
.createForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
}

.createForm h2 {
  text-align: center;
}

.inputField {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputField label {
  font-weight: bold;
}

.inputField input {
  height: 2.5rem;
  width: 100%;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  padding-inline: 1rem;
}

.passwordContainer {
  position: relative;
}

.passwordContainer input {
  padding-right: 3rem;
}

.showPassword {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.passwordTooltip {
  display: none;
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  border-radius: 4px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 2rem;
  left: 50%;
  margin-left: -90px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.passwordTooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.showPassword:hover .passwordTooltip {
  visibility: visible;
  opacity: 1;
}

.loginButton {
  width: 100%;
  margin: 0px auto;
  height: 2.5rem;
  border: none;
  border-radius: 4px;
  background-color: blue;
  color: white;
}

.loginButton:hover {
  cursor: pointer;
  background-color: rgb(5, 5, 219);
}

.switchButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4px;
}

.switchButton {
  background-color: transparent;
  border: none;
  color: blue;
}

.switchButton:hover {
  color: rgb(5, 5, 219);
}

.ellerContainer {
  position: relative;
  width: 100%;
  margin-block: 1rem;
}

.ellerLine {
  width: 100%;
  border-top: solid 1px rgba(0, 0, 0, 0.15);
  margin: 0;
}

.eller {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.chooseAccountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  max-width: fit-content;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
}

.chooseAccountContainer h2 {
  text-align: center;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.accountType {
  color: blue;
}

/** TABLET **/

@media only screen and (min-width: 600px) {
  .switchButtonContainer {
    flex-direction: row;
  }

  .loginFormContainer,
  .createFormContainer,
  .loginForm,
  .createForm,
  .chooseAccountContainer {
    padding: 2rem;
  }

  .passwordTooltip {
    display: inline-block;
  }

  .optionsContainer {
    flex-direction: row;
    gap: 2rem;
  }
}

/** LARGER SCREENS **/

@media only screen and (min-width: 1200px) {
}
