/** GENERAL **/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  /* Colors */
  --background-color: #ffffff;
  --background-color-alt: #f7f7f7;
  --text-color: #232b2b;
  --text-color2: #3d3d3d;
  --accent-pink: #ff00d0;
  --accent-pink-alt: #ffbcf3;
  --accent-purple: #5a31f2;
  --accent-purple-dark: #3d23a1;
  --accent-green: #428000;
  --accent-green2: #72b01b;
  --accent-green3: #9fd539;
  --accent-gold: #ffd15b;
  --accent-gold2: #e8a328;
  --accent-gold3: #fabe2c;
  --accent-gold4: #fed843;
  --accent-gold-alt: #ffe9b0;
  --accent-gold-alt2: #fff6df;
  --accent-silver: #b1b1b1;
  --accent-silver-alt: #dbdbdb;
  --accent-silver-alt2: #efefef;
  --accent-bronze: #cd8d69;
  --accent-bronze-alt: #edbea3;
  --accent-bronze-alt2: #ffdcc8;
  --accent-blue: #6696ff;
  --accent-blue-alt: #c7d8ff;
  --accent-blue-alt2: #eff4ff;
  --red: #ff3333;

  /* Font-Sizes */
  --font-smaller: 1rem;
  --font-small: 1.25rem;
  --font-medium: 1.5rem;
  --font-large: 1.75rem;
  --font-larger: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 62px;
}

body {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
input,
button,
span {
  overflow-wrap: break-word;
  hyphens: auto;
  color: var(--text-color);
}

p {
  max-width: 60ch;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/** SPECIFICS **/
.hover-link {
  position: relative;
  color: var(--accent-purple);
  transition: 0.2s;
}

.hover-link:hover {
  color: var(--accent-purple-dark);
  cursor: pointer;
}

.hover-link::after {
  content: "";
  position: absolute;
  background-color: var(--accent-purple-dark);
  height: 1.5px;
  width: 0;
  bottom: 0;
  left: 0;
  transition: 0.2s;
}

.hover-link:hover::after {
  width: 100%;
}

.hover-link-2 {
  position: relative;
  color: var(--background-color);
  transition: 0.2s;
}

.hover-link-2:hover {
  cursor: pointer;
}

.hover-link-2::after {
  content: "";
  position: absolute;
  background-color: var(--background-color);
  height: 1.5px;
  width: 0;
  bottom: 0;
  left: 0;
  transition: 0.2s;
}

.hover-link-2:hover::after {
  width: 100%;
}

.flex-next-to {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.loading {
  color: var(--accent-purple);
}
