/** GENERAL **/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  overflow-wrap: break-word;
  hyphens: auto;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/** SPECIFICS **/
.hover-link {
  position: relative;
}

.hover-link:hover {
  cursor: pointer;
}

.hover-link::after {
  content: "";
  position: absolute;
  background-color: blue;
  height: 1.5px;
  width: 0;
  bottom: 0;
  left: 0;
  transition: 0.2s;
}

.hover-link:hover::after {
  width: 100%;
}
